

h2{
  color:rgb(230, 39, 131);
  font-weight: bold;
}

a{
  color:white;
}


.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
}

p{
 color:rgb(255, 77, 0);
 margin-top: 1em;
}

input{
  margin-top: 2em;
}

mat-label{
 font-size: 1rem;
}

button{
 margin-top:2em;
}

form{
 display: flex;
 flex-direction: column;
 background-color: rgb(57, 55, 55);
 padding: 6em;
}




























