
header{
  margin-top: 2em;
}

h1{
  font-size: 2.3rem;
  color:white;
}

section{
  width: 20vw;
  background-color: gray;
  padding: 1em;
  border-radius: 3px;
  margin-top: 6ì2em;
}

h3{
  color:white;
}

span{
  font-size: 1.3rem;
}
